@font-face {
  font-family: "Bagnard";
  src: url("Bagnard.woff2") format("woff2"), url("Bagnard.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Bagnard;
  margin: 0;
  padding: 0;
  color: #181d21;
  background-color: #f7f6f2;
}
.main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 0;
}
.hero {
  height: 80vh;
  background-image: url(img/quadra.jpg);
  animation: fall-hero 0.3s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bigtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  text-align: center;
  max-width: 100vw;
  margin: 1.3rem 0;
}
.seclink {
  background-color: #efede4;
  padding: 0.25rem;
  border-radius: 6rem;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: #4f46e5;
  font-size: 3rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0rem;
  margin: 0;
  max-width: 80vw;
  display: block;
  animation: fall-title 3s linear;
  line-height: 3.3rem;
}
.title {
  overflow: hidden;
  height: 3.3rem;
  margin: 3rem 0 0 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
h2 {
  font-weight: 400;
  font-size: 3rem;
  align-items: center;
  margin: 0;
}
h3 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.cadastro {
  color: #efede4;
  background-color: #4f46e5;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
  margin: 0;
  padding: 1rem;
}
.inverted {
  background-color: #4f46e5;
  color: #efede4;
}

.horizontal-line {
  position: absolute;
  top: calc(1rem - 2px);
  left: 0;
  width: calc(100vw - 2rem);
  height: 2px;
  background: #4f46e5;
  transform-origin: left;
  animation: divider-animation 0.5s linear;
  margin: 1rem;
}
.white {
  background-color: #efede4;
}
.d-text {
  color: #4f46e5;
  margin-top: 2rem;
  overflow: hidden;
}
span {
  display: block;
  height: 100%;
  animation: rise-word 0.5s linear;
}

.implantacao {
  margin: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  padding: 0;
}
.programa {
  height: 10em;
  object-fit: cover;
  width: 80%;
  padding-top: -100px;
}
.img-section {
  max-width: 100vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 1.3rem 0;
  background-color: #4f46e5;
  color: #efede4;
}
@media screen {
}
.center {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.right {
  align-self: center;
  max-width: 90vw;
  border-radius: 100px 0 100px 0;
}
.left {
  max-width: 90vw;
  border-radius: 0 100px 0 100px;
}
.contact {
  background-color: #4f46e5;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
h5 {
  font-weight: 1000;
  color: #efede4;
  font-size: 3rem;
  text-align: center;
  margin: 1.5rem 0 0 0;
}
/* .conlink {
  background-color: #efede4;
  padding: 0.25rem;
  border-radius: 6rem;
} */
.contact {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #efede4;
}
.form-inputs {
  margin-bottom: 1.3em;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#botaocadastro {
  align-self: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.75rem;
  width: max-content;
  height: 3.75em;
  line-height: 3.75em;
  border-radius: 3.75em;
  padding: 0 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.input-cadastro {
  appearance: none;
  background-color: #efede4;
  border-radius: 3.75em;
  border: none;
  color: #181d21;
  display: block;
  outline: 0;
  padding: 0 0.825rem;
  text-decoration: none;
  width: 20rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.25;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input > label {
  padding: 1.3rem;
}
form > p > a {
  color: #efede4;
}
form > p {
  margin-top: 2rem;
  margin: 1.3rem;
  text-align: center;
}
.whatsapp {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  margin: 0 1em 1em 0;
  width: 80px;
  height: 80px;
}
.m91 {
  background-color: #4f46e5;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.logo {
  width: 40em;
  max-width: 80vw;
  filter: grayscale(100%);
  filter: contrast(0%);
  filter: brightness(0%);
}
@keyframes divider-animation {
  0% {
    left: -100%;
  }

  45% {
    left: -95%;
  }

  100% {
    left: 0%;
  }
}

@keyframes rise-word {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fall-word {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fall-hero {
  0% {
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fall-title {
  0% {
    transform: translateY(-200%);
  }
  30% {
    transform: translateY(-200%);
  }
  36% {
    transform: translateY(-100%);
  }
  63% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
